*{
    box-sizing: border-box;
}

body{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button{
    text-transform: uppercase;
    padding: 20px 30px;
    color: #fff;
    background-color: #548ff1;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

button .circle{
    position: absolute;
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.4s ease-out;
}

@keyframes scale{
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

